:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #b8b8b8;
  --background-chat-message: #ffffff;
  --background-color-chat-message: #000000;
}

.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --border-color: #b8b8b8;
  --background-chat-message: #000000;
  --background-color-chat-message: #faf9f9;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

a {
  color: var(--text-color);
}

.warnings {
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 300px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  position: absolute;
  margin: 16px;
  top: 0;
  right: 0;
}

@media (max-width: 1100px) {
  .logo {
    display: none;
  }
}

ul,
ol {
  padding-left: 20px;
}

a {
  color: var(--text-color);
}

pre {
  margin: -4px -16px;
  padding: 20px;
  white-space: pre-wrap;
  background-color: var(--background-color);
  color: var(--text-color);
}
